# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Streamlit
.streamlit/

# VS Code
.vscode/

# FAISS Vector Store (Generated locally)
vector_store/

# Generated PDFs (Committed to speed up app loading)
# data/*.pdf

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db
vector_store_test/