streamlit==1.35.0
langchain==0.2.17
langchain-core==0.2.43
langchain-community==0.2.19
langchain-google-genai==1.0.10
faiss-cpu
pypdf==4.2.0
python-dotenv==1.0.1
reportlab==4.2.0
sentence-transformers